.form-field {
    @apply flex flex-col;

    & label {
        @apply text-xl;
    }
}

.button-layer {
    @apply flex justify-between;

    & button {
        @apply px-4 py-2
        bg-tertiary-color
        text-white font-bold
        rounded-md
        hover:underline;
    }
}

.table-grid {
    @apply grid rounded-md overflow-hidden;

    & > div {
        @apply grid;
        grid-template-columns: 1fr 3fr 3fr 7fr 2fr 2fr;

        & > div {
            @apply p-1 border border-r-slate-400 border-b-slate-400;
            word-break: break-all;
        }

        & > div:nth-child(1),
        & > div:nth-last-child(1),
        & > div:nth-last-child(2) {
            @apply text-center;
        }

        & > div:nth-last-child(1) {
            @apply border-r-0;
        }
    }

    & > div:nth-child(1) {
        @apply font-bold text-white text-center
        bg-tertiary-color
        rounded-t-md;

        & > div {
            @apply border-cyan-700;
        }
    }

    & > div:nth-last-child(1) {
        @apply rounded-b-md;
    }

    & > div:nth-child(even) {
        @apply bg-gray-200;
    }
}